#authentication
{
	height: 35%;
	left: 34%;
	position: absolute;
	top: 30%;
	width: 32.5%;
	border: 1px solid #000000;
}
#login
{
	position: absolute;
	top: 75%;
	left: 78%;
	width: 20%;
	height: 15%;
}
#usernamediv
{
	position: absolute;
	top: 30%;
	left: 4%;
	width: 90%;
	height: 10%;
}
#passworddiv
{
	position: absolute;
	top: 45%;
	left: 4%;
	width: 90%;
	height: 10%;
}
#error
{
	position: absolute;
	top: 60%;
	left: 6%;
	width: 90%;
	height: 10%;
}

